* {
	box-sizing: border-box;
	margin: 0;
}

body,
html {
	background-color: #2b3e45;
	font-family: 'Montserrat', sans-serif;
	line-height: 2;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

h1 {
	color: #313532;
	font-size: 2.5em;
	font-weight: 700;
	line-height: 1.3;
	margin: 0;
	padding: 0;
}

h2 {
	color: rgba(49, 53, 50, 0.8);
	font-size: 1.5em;
	font-weight: 500;
}

h3 {
	font-weight: 700;
	font-size: 1.8em;
	margin: 20px 20px;
	padding-bottom: 30px;
}

h4 {
	font-weight: 500;
	font-size: 1.3em;
	margin: 20px 0;
}

p {
	margin-bottom: 1em;
}
/* ============== */
/* HEADER SECTION */
/* ============== */

.header {
	background-color: #283e2a;
	background-image: url(./images/Header.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	height: 500px;
}

.header-text {
	margin-top: 50px;
	animation-name: slide-down;
	animation-duration: 1s;
	text-align: center;
}

/* ================ */
/* PROJECTS SECTION */
/* ================ */

.projects {
	background-color: #fafafa;
	color: #1e201e;
}

.projects-container {
	padding: 20px 20px 40px 20px;
}

.projects h3 {
	color: #313532;
}

.project-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 30px 100px 30px;
	-webkit-perspective: 1000;
}

.project-group img {
	width: 100%;
	/* max-width: 400px; */
	height: auto;
	transition: all 2s;
}

.odd .scrolled-to {
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateY(10deg);
	/* transform: perspective(600); */
	/* transform: matrix(1, 1, -1, 1, 0, 0); */
}

.even .scrolled-to {
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateY(-10deg);
}

.project-text {
	text-align: center;
}

.tech-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	list-style-type: none;
	padding: 0;
}

.tech-list li {
	padding-right: 15px;
}

.bullet {
	display: inline-block;
	height: 0.7em;
	width: 0.7em;
	border-radius: 3px;
	margin-right: 0.2em;
	background-color: #83bad8;
	background: linear-gradient(180deg, #83bad8 0%, #509cc8 100%);
}

.project-button-group {
	display: flex;
	justify-content: space-evenly;
	margin-top: 2em;
}

.project-button {
	background-color: #3b555e;
	border-radius: 5px;
	border-bottom: 2px solid #969c98;
	color: #fafafa;
	display: inline-block;
	text-decoration: none;
	padding: 0.3em 0;
	width: 6em;
	text-align: center;
	transition: all 0.2s;
}

.project-button:hover,
.project-button:focus {
	background-color: #7c837e;
}

.about-border {
	width: 101vw;
	margin-bottom: -12px;
}

/* ============= */
/* ABOUT SECTION */
/* ============= */

.about {
	background-color: #3b555e;
	background: linear-gradient(180deg, #3b555e 17.91%, #2b3e45 89.76%);
	color: #fafafa;
	padding: 20px;
}

.about-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about-image-group {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
}

.profile-pic {
	width: 100%;
	max-width: 300px;
	height: auto;
	padding: 0 30px 30px 30px;
}

.contact-link-group {
	display: flex;
	justify-content: space-evenly;
	max-width: 300px;
	margin-bottom: 30px;
	width: 100%;
}

.contact-link {
	color: #fafafa;
}

.contact-link div:hover,
.contact-link div:focus {
	background-color: #b0b5b2;
}

.contact-link div {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #7c837e;
	width: 3em;
	height: 3em;
	border: 3px solid #b0b5b2;
	border-radius: 50px;
	transition: all 0.2s;
}

.feather {
	stroke-width: 2.5;
}

.about-text-group {
	color: #d2d5d3;
}

.about-text-group p:first-child {
	font-weight: 500;
	color: #fafafa;
}

/* ============== */
/* FOOTER SECTION */
/* ============== */

.footer {
	background-color: #2b3e45;
	color: #fafafa;
	margin-top: -1px;
}

.footer p {
	margin: 0;
	text-align: center;
	font-size: 0.8em;
	font-weight: 200;
}

/* ===================================== */
/* ========= FOR LARGER SIZE =========== */
/* ===================================== */

@media screen and (min-width: 600px) {
	h1 {
		font-size: 5vw;
	}

	h2 {
		font-size: 3vw;
	}

	h3 {
		font-size: 2.2em;
	}

	/* ============== */
	/* HEADER SECTION */
	/* ============== */

	.header {
		height: 600px;
	}

	/* ================ */
	/* PROJECTS SECTION */
	/* ================ */

	.project-group {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.odd {
		grid-template-areas: 'image text';
	}

	.even {
		grid-template-areas: 'text image';
	}

	.project-group img {
		grid-area: image;
	}

	.project-text {
		grid-area: text;
		text-align: left;
	}

	.project-button-group {
		justify-content: space-between;
		width: 240px;
	}

	.tech-list {
		justify-content: flex-start;
	}

	/* ============= */
	/* ABOUT SECTION */
	/* ============= */

	.about-content {
		display: grid;
		grid-template-columns: 1fr 2fr;
		align-items: start;
	}
}

@media screen and (min-width: 1200px) {
	.header {
		height: 700px;
	}

	.about-content {
		grid-template-columns: 330px auto;
	}
}

@media screen and (min-width: 1600px) {
	.header {
		height: 800px;
	}
}

/* ========== */
/* ANIMATIONS */
/* ========== */

@keyframes slide-down {
	from {
		margin-top: -200px;
		opacity: 0;
	}
	to {
		margin-top: 50px;
		opacity: 1;
	}
}
